@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* font-family: "Inter", sans-serif; */

:root {
    --bg-color: #0f0f0f;
    --dark-color: #181818;
    --primary-red: #ea2340;
    --light-color: #eeeeee;
    --light-btn: #dddddd;
    --display-bg: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--light-color);
  margin: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
